.container {
  min-height: 100vh;
  padding: 0 2rem;
  background-color: rgba(229, 231, 235);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 0 auto;
}
